<div class="account__content">
    <div class="d-flex">
        <div class="box-left">
            <img src="./assets/images/testimonials/client-1.jpg" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="box-right">
            <p class="text-center">User name</p>
        </div>
    </div>
</div>

<div class="box-bottom mt-5">
    <p>
        <span>Email address : </span> keenndjc@gmail.com
    </p>
    <p>
        <span>first name : </span> Bernard Geraud
    </p>
    <p>
        <span>last name : </span> Dongmo
    </p>
</div>
