<div class="mails">
    <textarea (keypress)="onKeypressBot($event)" class="sender" placeholder="Send a message as the bot.."></textarea>
    <div class="chat-ui">
        <div class="chat-scrollview">
            <div class="chat-messagelist">
            
                <div class="chat-cluster">
                </div>
                
                <div mine class="chat-cluster">
                </div>
            
            </div>
        </div>
        
        <div (keypress)="onKeypressAuthor($event)" class="chat-authoring" contenteditable></div>
    </div>
</div>
